<div class="container my-5">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Correo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Johnny</td>
                <td>Garcia</td>
                <td>gus199811@gmail.com</td>
            </tr>
        </tbody>
    </table>

</div>